<script lange="ts" setup>
import Attribute_BindingsVue from "./components/Attribute_Bindings.vue";
import Conditional_RenderingVue from "./components/Conditional_Rendering.vue";
import declarative_declarative from "./components/declarative_rendering.vue";
import Event_Listeners from "./components/Event_Listeners.vue";
import Form_BindingsVue from "./components/Form_Bindings.vue";
import ConditionalRenderingVue from "./components/Conditional_Rendering.vue";
import List_RenderingVue_Component from "./components/List_Rendering.vue";
import Computed_Property from "./components/Computed_Property.vue";
import WatchersComponent from "./components/WatCherVUE.vue";
</script>

<template>
  +
  <!-- <h1>Hello World</h1>
  <declarative_declarative></declarative_declarative>
  <Attribute_BindingsVue></Attribute_BindingsVue>
  <Event_Listeners/>
  <Form_BindingsVue/>
  <ConditionalRenderingVue/>
  <List_RenderingVue_Component/> -->
  <!-- <Computed_Property/> -->
  <WatchersComponent />
</template>
