<script setup lang="ts">
import { ref } from 'vue';

const text = ref('')
// function onInput(e:any){
//     console.log(e)
//     console.log(e.target.value)
//     //text.value = e.target.value
// }
</script>
<template>
    //:value="text" @input="onInput"
    <pre></pre>
    <input type="text"  v-model="text" placeholder="Typ here">
    <div>{{text}}</div>
</template>

<style scoped>
</style>